/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* Import custom font to be used */
@font-face {
    font-family: "NoteWorthy";
    src: url("../assets/fonts/Noteworthy.ttf");
}

:root {
    --ion-color-background: #DEA000;
    --ion-color-background-rgb: 222, 160, 0;
    --ion-color-background-contrast: #ffffff;
    --ion-color-background-contrast-rgb: 255, 255, 255;
    --ion-color-background-shade: #DEA005;
    --ion-color-background-tint: #DEA007;
  }

.ion-color-background {
    --ion-color-base: var(--ion-color-background);
    --ion-color-base-rgb: var(--ion-color-background-rgb);
    --ion-color-contrast: var(--ion-color-background-contrast);
    --ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb);
    --ion-color-shade: var(--ion-color-background-shade);
    --ion-color-tint: var(--ion-color-background-tint);
  }
