.ion-item-custom {
    --inner-padding-start: 20px;
    --inner-padding-end: 20px; 
    --padding-start: 20px; 
    --padding-end: 20px;
    --padding-top: 20px; 
    --border-width: 1px; 
    --border-style: solid; 
    --border-color: #000;
  }

