.ion-item-custom {
  --background: rgba(187, 134, 1, 0.743);
  --border-color: #000000;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 5px;
  --padding-bottom: 5px;
  margin-bottom: 10px;
  border-radius: 8px;

  box-shadow: 20px 4px 8px rgba(0.3, 0.4, 0.4, 0.5);
}

.add-member-btn {
  margin-top: 20px;
  font-size: 1.2rem;
  border-radius: 8px;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}


.form-group {
  margin-bottom: 15px;
}

.form-group ion-label {
  display: block;
  margin-bottom: 5px;
  color: var(--ion-color-dark);
  font-weight: bold;
}

.form-group ion-input,
.form-group ion-select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--ion-color-dark);
  border-radius: 5px;
  color: rgb(65, 63, 61);
  background-color: #eabc49;
}

.add-member-btn {
  margin-top: 20px;
}