.title {
    color: white;
    text-align: center;
    font-family:'NoteWorthy';
    font-size:32px;
}

.welcome-text{
    text-align: center;
    margin-top: 50%;
    margin-bottom: 50%;
}

.login-button{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.register-button{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 40%;
}


