.title {
    color: white;
    text-align: center;
    font-family: 'NoteWorthy';
    font-size: 32px;
}

.welcome-text {
    text-align: center;
    margin-top: 50%;
    margin-bottom: 50%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid orange; /* Cursor effect */
    font-family: monospace;
    font-size: 24px; /* Adjust the font size to your liking */
    animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Cursor blink effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.login-button {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.register-button {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.ion-item-custom {
    --inner-padding-start: 20px;
    --inner-padding-end: 20px; 
    --padding-start: 20px; 
    --padding-end: 20px;
    --padding-top: 20px; 
    --border-width: 1px; 
    --border-style: solid; 
    --border-color: #000;
}
