.timestamp {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 1.0em;
    color: gray;
}

.edit {
    background-color: rgb(89, 154, 228);
    border-radius: 5px;
}

.delete {
    background-color: rgb(234, 118, 118);
    border-radius: 5px;
}

.form-group ion-input,
.form-group ion-select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--ion-color-dark);
  border-radius: 5px;
  color: rgb(129, 77, 9);
}

