.create-account-button{
    width: 40%;
    margin-left: 30%;
}

.login-text{
   text-align: center;
}

.name-field {
    background: transparent;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.name-input{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 10px;
}

.username-field{
    background: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.username-input{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 10px;
}

.username-label{
    font-size: 14px ;
}

.password-field{
    background: transparent;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.password-input{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 10px;

}

.password-label{
    font-size: 14px ;
}

.confirm-password-field{
    background: transparent;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.confirm-password-input{
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 10px;

}

.confirm-password-label{
    font-size: 14px ;
}

.space-container{
    margin-bottom: 5%;
}